.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
 /* background-image: url("headerBackground.jpg") ;
  background-size: 100% 100%;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  background-color:#00BFFF;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
